@use "sass:color";

$font-family-montserrat: "Montserrat", sans-serif;
$background-color: #e4e4fc;
$background-image: url("/src/assets/images/capcaleraImage.jpg");
$title-color: white;
$background-menu-cv-esquerra: grey;
